  <div class="row mt-3">
        <div class="col-3"></div>
      {%  if msg('msg') %}
          <div class="alert {{ msg('msg.type') }}" role="alert">
              {% for body in msg('msg.body') %}
                    {{body}}
              {% endfor %}

          </div>
      {% endif %}
      <div class="col-3"></div>
  </div>
