<link rel="stylesheet" href="/css/css_all/footer.css">

<footer class=" m-0 p-0 mt-2 ">


        <div class="container_footer text-white text-center">

          <img src="\images\logo\logos_footer.png" width="350" height="110" alt="logo" class="mt-2"><br>

                      © Todos los derechos reservados
        </div>
  </footer>


