:root {
    --ics-primary: #dc3545;
    --ics-secondary: #6c757d;
    --ics-success: #198754;
    --ics-danger:#dc3545;
    --ics-warning:#ffc107;
    --ics-info:#0dcaf0;
    --ics-light:#f8f9fa;
    --ics-dark:#212529;

    --ics-gree_2:#bbf7d0;


}
