a:hover {
    text-decoration: none;
}

a {
    text-decoration: none !important;

}
.notas {
    border: 2px solid #aaa !important;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    margin: 0;
}

.links a {
    color: #00b45f !important;
}

.links a.hover {
    color: #00b45f !important;
}

.links {
    color: #00b45f !important;
}



.table {
--bs-table-bg: transparent;
--bs-table-accent-bg: transparent;
--bs-table-striped-color: #212529;
--bs-table-striped-bg: rgba(0, 0, 0, 0.05);
--bs-table-active-color: #212529;
--bs-table-active-bg: rgba(0, 0, 0, 0.1);
--bs-table-hover-color: #212529;
--bs-table-hover-bg: rgba(0, 0, 0, 0.075);
width: 100%;

color: #212529;
vertical-align: top;
border-color: #dee2e6;
}

/* .modal th {
    border: none !important;
    text-align: left;
}

.modal  tr {
    border: none !important;
    text-align: left;
}

.modal  td {
    border: none !important;
}



.modal  .pre_div_info {
    margin-top: 20px;
    font-size: 0.8em;

    border-top-right-radius: 20px 20px;

} */

.pre_text_customers {
    color: #111c44;
    font-size: 0.8rem;
}



hr:not([size]) {
    height: 1px;
    color: #587ffc;
}

 /* .modal .table>:not(caption)>*>* {
    padding: 0;
    background-color: none;

    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.modal .img_logo {
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;


}

.modal .title_tot {
    margin-top: 20px;
    font-size: 0.8rem;

} */


tbody,
td,
tfoot,
th,
thead,
tr {
    /* border-color: inherit; */
    /* border-style: solid; */
    border: 36px solid #fff;
    border-width: 0;



}

.table>:not(caption)>*>* {
padding: 0.5rem 0.5rem;
background-color: #adadad1a;
border-bottom-width: 11px;

}


 .table>:not(caption)>*>* {
    box-shadow: none !important;
}


.titulo_bills_view {
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    background: #fff;

    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
}

.contenedor {
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
     background-color: rgba(255,255,255,1) !important;
}

 .contenedorBills {
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    /* background-color: rgba(255,255,255,1) !important;*/
  /* background-color:rgb(240 245 232)*/
}



.title {
    color: #545454 !important;
}


.modal .footer_text {
    font-size: 0.8rem;
}



.text-title-factura {

    font-weight: 500;
    letter-spacing: 5px;
    color: #4d8f24;
}


.title_creada {
    color: #04BDFD;
}


/* .modal .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #fff;
    color: var(--bs-table-striped-color);
} */

.text_adress {
    color: #00b45f;
}

.tr_supp {

    border-top: 1px solid #1987541a !important;

}

.td_supp {
    height: 30px !important;


}


.row_bill{
background-color: rgba(255,255,255,1) !important;
}

/* Estilos para el scroll */
::-webkit-scrollbar {
width: 10px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
background-color: #4d8f24; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
background-color: #99e537; /* Color del thumb (el botón deslizable) */
border-radius: 5px; /* Radio de borde del thumb */
}

::-webkit-scrollbar-thumb:hover {
background-color: red; /* Color del thumb al pasar el mouse sobre él */
}


  /* CSS */
  .button-30 {
    max-width: 120px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;

    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 13px;
}


/*
.contenedorBills {
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
#miVentanaModal {
    background: transparent;
    background-color: rgba(0,0,0,0);
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}
.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
} */

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    background-color: rgba(0,0,0,0) !important;
}


#miVentanaModal {
    background-color:transparent;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border:none !important;
    }
    #miVentanaModal .contenedor {
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border:none !important;
    background-color:transparent;
    }
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgba(0,0,0,0) !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
