.button_registro {
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
    width: 100%;
    box-shadow: none;
    font-size: 20px;
    border: none;
    background: #ff6347;
}

.form-control {
    border: 2px solid #ff6347 !important;
    border-radius: 30px !important;

}

.form-select {
    border: 2px solid #ff6347 !important;
    border-radius: 30px !important;


}

.tapa {

    background: #c2fbd740;
}

.metros {
    background: #c2fbd740;

}

.form-check-input:checked {
    background-color: #42b364;
    border-color: #42b364;
}

.cssscan:not(.img-as-jpg) img {
    top: 14%;
    right: -37%;
    width: 95%;
    height: 95%;
}

.cssscan img {
    position: absolute;
    transform: rotate(-7deg);
    transition: all .3s;
}

.cssscan {
    padding: 2rem;
    background: #a253ef;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 10%) 0 1px 2px 0;
    cursor: pointer;
    /* margin-top: 3em;*/
    font-size: 19px;
    text-align: left;
}

.display-4 {
    display: inline;

    padding-left: 30px;
}

.titulo_contenedores {

    border: 1px solid red;
}

.texto_titulo {

    padding-left: 30px;
}

.container_date {
    background: #9f9f9f29;

}

.contactos {
    background: #ff6347;
    font-size: 1.5rem;
    color: white;

}

.noahicontactos {
    font-size: 1.5rem;
}

.botones {

    color: #545454;


}

.fuente-texto {
    font-size: 1rem;


}

.tr_estilo {
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px !important;
    border-bottom-left-radius: 20px 20px !important;
    background-color: #ff6347;
    color:white;
    border: 2px solid #ff6347 !important;


}

.card_container {
    max-width: 300px;
    min-width: 250px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px !important;
    border-bottom-left-radius: 20px 20px !important;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #fff !important;
    /*    border: 2px solid #c2fbd7 !important;*/
}

.card_container_footer {

    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px !important;
    border-bottom-left-radius: 20px 20px !important;

    /*    border: 2px solid #c2fbd7 !important;*/
    background-color: #f9f9f9;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.span_num {

    color: #006562;
    font-family: 'Black sans-serif', sans-serif !important;
    padding: 1.2rem;
    background: #38dc3512;
    text-align: center;
    padding: 10px;

}

.text-contenedor {
    border-bottom: 5px solid white;
    padding: 10px;
}



.row-list {
    /*text-align: center;*/
}

.texto_card {
    text-align: left;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
 background-color: #efefef !important;
    border-bottom-width: 1px;

}

.th-color01 {

    border-top-left-radius: 20px 20px;
    border-bottom: 2px solid white !important;
    box-shadow: none;
    background-color: #c2fbd7 !important;
    color: #545454 !important;
     border-bottom:10px solid white !important;
}

.th-color02 {

    border-bottom: 2px solid white !important;
    box-shadow: none;
    background-color: #c2fbd7 !important;
     color: #545454 !important;
      border-bottom:10px solid white !important;
}

.th-color03 {

    border-bottom: 2px solid white !important;
    box-shadow: none;
    background-color: #c2fbd7 !important;
     color: #545454 !important;
     border-bottom:10px solid white !important;

}

.th-color04 {

    border-bottom: 2px solid white !important;
    box-shadow: none;
    background-color: #c2fbd7 !important;
    color: #545454 !important;
     border-bottom:10px solid white !important;
}

.th-color05 {

    border-top-right-radius: 20px 20px;
    border-bottom: 2px solid white !important;
    box-shadow: none;
    background-color: #c2fbd7 !important;
    color: #545454 !important;
     border-bottom:10px solid white !important;


}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;

}

.row_list_containers {
    background-color: #efefef;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px !important;
    border-bottom-left-radius: 20px 20px !important;
    padding: 1.2rem;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.form-check-input {

    border: 2px solid #42b36496;

}



/* CSS */
.button-33 {
    background-color: #29ff7196;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;

    /*   box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;*/
    color: #297841;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: 400;
}

.button-33:hover {
    /*   box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;*/
    transform: scale(1.05);
}

.button_liberar_modal {
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;

    width: 100%;
    box-shadow: none;
    font-size: 20px;
    border-radius: 30px;
    background: #29ff7196;
    padding: 1.2rem;

}

.button_closed {
    background: none;
}

.button-generar-albaran {
    background-color: #fff;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;

    /*  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;*/
    color: #297841;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: 400;
}

.button-generar-albaran:hover {
    /*  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;*/
    transform: scale(1.05);
}

.detalle_cliente {
    background: #efefef;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px !important;
    border-bottom-left-radius: 20px 20px !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.titulo_detalle_cliente {
background: #efefef;
color: #626161;
padding: 28px;
border-top-left-radius: 40px 40px;
border-top-right-radius: 40px 40px;
font-weight: 900 !important;
}
  .alert-success {

  text-align: center;
    background-color: #dbf1d838;
    border-left: 7px solid #3dbf2ae8;
    width: 100%;
    margin-top: 10px;
    color: #000000;
    font-size: 1.2rem;


}
  .alert-warning {

    text-align: center;
    background-color: #e6ef1596;

    width: 100%;
    margin-top: 10px;

    font-size: 1.2rem;
    border:5px solid #f4f4f4;
    border-style: dashed  solid;


}
tbody, td, tfoot, th, thead, tr {
/* border-color: inherit; */
/* border-style: solid; */
border:20px solid white;
border-width: 0;
margin-bottom: 5px;


}

.table>:not(caption)>*>* {
padding: 0.5rem 0.5rem;
 height: 50px;
border-bottom-width: 11px;

/* box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg); */
}



.td_height{
height: 15px;
}

#title_vehicles {
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    background: #a253ef;

}
